/* Properties ingesteld zonder gebruik te maken van shorthand */
body {
    background-image: url(../img/bg.jpg);
    background-position: right;
    background-repeat: repeat-y;
}
.box {
    margin-top: 6px;
    margin-right: 15px;
    margin-bottom: 6px;
    margin-left: 15px;
}

/* Shorthand properties: Dit is veel overzichtelijker! */
body {
    background: url(../img/bg.jpg) repeat-y right; /* image, repeat, position */
 }
 .box {
    margin: 6px 150x 6px 150px; /* top, right, bottom, left */
 }