.banner {
    background-image: url(cover.jpg);
    background-position: center;
    background-size: cover;
    padding: 150px 100px 50px 10px;
} 
.tagline {
    background-color: black;
    border: 5px solid #502406;
    color: white;
    opacity: 0.6; /* verander deze waarde */
    padding: 15px 20px;
}
